@import "variables";

.position-input {
  position: relative;
  max-width: 100%;

  .label {
    font-size: 16px;
    color: $grey;
    position: absolute;
    top: 49%;
    left: 20px;
    font-family: $mainFont;
    @media (max-width: 400px) {
      font-size: 3.5vw;
      top: 52%;
    }
  }

  .form-input {
    border: 1px solid $grey;
    border-radius: 4px;
    margin: 0 auto;
    width: 90%;
    color: $grey2;
    caret-color: $blue;
    background-color: $white;
    transition: all 0.3s ease-in-out;
    font-size: 19px;
    outline: 0;
    font-family: $mainFont;
    padding: 20px 0 15px 20px;
  }
}
