@import "variables";

* {
  padding: 0;
  margin: 0;

  a {
    text-decoration: none;
  }
}

.container {
  padding: 0 20px;
  margin: auto;
  @media (min-width: $xl) {
    max-width: 960px;
  }
  @media (min-width: $lg) {
    max-width: 945px;
  }
  @media (max-width: 590px) {
    padding: 0 20px;
    max-width: 550px;
  }
  @media (max-width: 400px) {
    padding: 0 15px;
  }
}

.hidden {
  display: none !important;
}

.visual {
  display: block !important;
}

.error-validate {
  border: 1px solid $red !important;
  color: $red !important;
}
