$xs: 0;
$sm: 576px;
$md: 767px;
$lg: 992px;
$xl: 1200px;

// font
$mainFont: Rubik;
// color
$header-color: linear-gradient(90deg, #5A4BE6 0.26%, #73AFF7 47.1%, #93D0D9 99.8%);
$white: white;
$grey: #ccc;
$grey1: #CFE0F4;
$grey2: #808080;
$black: #000000;
$blue: #6188CA;
$red: #f06979;
$btn1-color-text: $white;
$btn1-normal: linear-gradient(167.72deg, #5A4BE6 -33.07%, #73AFF7 48.35%, #93D0D9 139.94%);
$btn1-hover: linear-gradient(351.95deg, #5A4BE6 -48.61%, #73AFF7 33.69%, #93D0D9 126.27%);

